/* testing some outputs */
.content
  .content-box
    - if @response.presence
      .content-item.red-500-bg
        = @response
    - if @repos.presence
      .content-item.red-500-bg
        = @repos
    - if @langs.presence
      .content-item.yellow-500-bg
        = @langs
    - if @langs.presence
      .content-item.green-500-bg
        = @poll
    - if @users.presence
      .content-item.green-500-bg
        = render partial: "users", locals: { users: @users }

.separator.small

.content
  .content-box
    .content-item
      %h4 GitHub Rates
    .content-item.red-500-bg
      %p.red-000-cl= @limit
