/* Index */

/* Hero */
.hero
  .hero-box
    .hero-item.altai-center
      // = image_tag "octocat.png", title: "Unboxed - A GitHub test.", alt: "hero image"
      = image_tag "icons/favorite.png"
    .hero-item.wide
      %p.extra-large.text-center.wide.left.blue-500-cl= @fav

.separator.extra-small

/* Content */
.content
  .content-box
    .content-item
      %h1.text-center.purple-500-cl= t("users.title")
      %p.text-center.gray-500-cl= t("users.description")

- if @users.presence && !@user.presence
  = render partial: "users", locals: { users: @users }
